<!-- https://dev.to/orahul1/angular-mouse-events-41l9 -->
isMouseDown: {{ isMouseDown }}
<table
  cellspacing="0"
  cellpadding="0"
  style="
     border-spacing: 0px;
     
  "
>
  <tr *ngFor="let y of grid">
    <td *ngFor="let x of y">
      <div
        ondragstart="return false;"
        ondrop="return false;"
        id="{{ x }}"
        (mouseenter)="fillBlock(x)"
        (mousedown)="setMouseDown(true, x)"
        (mouseup)="setMouseDown(false, x)"
        style="height:2vw;width:2vw; background:#cedebe;
        border:1px solid black;
        
        "
      ></div>
    </td>
  </tr>
</table>
<script></script>
